@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Vast+Shadow&display=swap");

body {
  min-height: 100vh;
  display: grid;
  align-content: space-between;
  justify-items: center;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 850px;
  text-align: center;
}

h1 {
  font-family: "Vast Shadow", cursive;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
}

.buttons {
  margin: auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.loader {
  color: white;
}
figcaption {
  margin-top: 1em;
}

.paper {
  max-width: 800px;
  min-height: 300px;
  margin: 1.5em 3vw;
  background-image: url("https://image.architonic.com/img_pro2-4/155/9160/dd110306-b.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 1em 2em;

  display: grid;
  place-items: center;
}

.board {
  color: white;
  font-size: 2rem;
  font-family: "Merienda", cursive;
}

.author-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.author {
  color: white;
  margin-top: 0;
  font-size: 1.75rem;
  font-style: italic;
}

footer {
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
}

.logo {
  width: 25px;
  transform: translateY(40%);
}

@media screen and (min-width: 400px) {
  p {
    font-size: 1.5rem;
  }

  .board {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  .board {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}
